body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    font-size: 25px;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#descrição {
    font-style: italic;
}

.principal {
    font-family: fantasy;
    font-size: inherit;
}

#foto {
    border-radius: 150px;
    transform: rotate(-14deg);
    box-shadow: #aaa
}

#nome {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
}

#doug {
    font-family: 'Gorditas', cursive;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 70px;
    background-image: url(fundonome.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 4px #aaa;
}

#menu {
    text-align: left;
    font-family: fantasy, cursive;
}

.lis {
    text-align: left;
    font-family: fantasy, cursive;
}

#poema {
    text-align: right;
    font-style: italic;
    font-family: cursive, sans-serif;
    font-size: 15px;
}

#mateus {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}