body {
    background-color: #BFE188;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#descrição {
    font-style: italic;
}

.principal {
    font-family: fantasy;
    font-size: inherit;
}