body {
    background-color: #BFE188;
    font-family: Montserrat, sans-serif;
    line-height: 2em;
    font-size: 25px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#descrição {
    font-style: italic;
}

.principal {
    font-family: fantasy;
    font-size: inherit;
}

#foto {
    border-radius: 100px;
}